.blog-post-main {
  max-width: 375px;
  padding: 30px 25px 40px;
  margin: 0 auto;
}

.blog-post-icon-item {
  display: flex;
  gap: 14px;
  margin-bottom: 15px;
}

.blog-post-icon-item:first-child {
  margin-top: 30px;
}

.blog-post-icon-item:last-child {
  margin-bottom: 58px;
}

.blog-post-icon {
  fill: #6c6c72;
}

.blog-post-icon-text {
  color: #6c6c72;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}

.blog-post-item-text {
  color: #5956e9;
  font-size: 48.83px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-main-text {
  margin-bottom: 20px;
}

.blog-main-text-last {
  margin-bottom: 30px;
}

.wrap-decoration-icon {
  position: relative;
  margin-bottom: 30px;
}

.icon-decoration {
  fill: #5956e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-one {
  width: 110px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.6);
}

.circle-two {
  width: 94px;
  height: 94px;
  background-color: rgba(255, 255, 255, 0.7);
}

.circle-three {
  width: 76px;
  height: 76px;
  background-color: #fff;
}

.blog-post-wrap-text {
  padding: 30px 19px;
  background-color: #5956e9;
  border-radius: 10px;
  margin-bottom: 30px;
}

.blog-post-main-text {
  text-align: center;
  color: #fff;
}

.passage-text-wrap > p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrap-passage-text-last > p {
  margin-top: 30px;
  margin-bottom: 0px;
}

/* ================TABLET==================== */
@media screen and (min-width: 768px) {
  .blog-post-main {
    max-width: 768px;
    padding: 30px 24px;
  }

  .blog-post-icon-list {
    display: flex;
    gap: 26px;
    justify-content: space-around;
  }

  .blog-post-icon-item:first-child {
    margin-top: 60px;
  }

  .blog-post-icon-item {
    margin-top: 60px;
    margin-bottom: 54px;
  }

  .blog-main-text-last {
    margin-bottom: 60px;
  }

  .wrap-decoration-icon {
    margin-bottom: 60px;
  }

  .blog-post-wrap-text {
    margin-bottom: 60px;
  }

  .wrap-element {
    display: flex;
    gap: 20px;
  }

  .wrap-element img {
    max-width: none;
  }

  .passage-text-wrap > p {
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .wrap-passage-text-last > p {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

/* ================DESKTOP==================== */
@media screen and (min-width: 1440px) {
  .blog-post-main {
    max-width: 935px;
    padding: 120px 30px 120px 135px;
  }

  .wrap-element {
    gap: 30px;
  }

  .wrap-passage-text-last > p {
    margin-bottom: 0;
  }

  .passage-text-wrap > p {
    margin-bottom: 12px;
  }
}
