.herov {
  margin: 0 auto;
  padding: 134px 0 42px 0;
  max-width: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  background-image: url(/img/blog-post-hero/heropost-mob-1x.jpg);
  position: relative;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .herov {
    background-image: url(/img/blog-post-hero/heropost-mob-2x.jpg);
  }
}

.herov-container {
  text-align: center;
  padding: 0 25px;
}

.herov-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.herov-span {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.herov-span-icon {
  margin-top: 2px;
}

.herov-span-text {
  color: #ffffff;
  font-style: normal;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .herov {
    padding: 203px 0 47px 0;
    max-width: 768px;
    background-image: url(/img/blog-post-hero/heropost-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herov {
      background-image: url(/img/blog-post-hero/heropost-tab-2x.jpg);
    }
  }

  .herov-container {
    padding: 0 48px;
  }

  .herov-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .herov {
    padding: 189px 0 73px 0;
    max-width: 1440px;
    background-image: url(/img/blog-post-hero/heropost-desk-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herov {
      background-image: url(/img/blog-post-hero/heropost-desk-1x.jpg);
    }
  }

  .herov-container {
    padding: 0 328px;
  }

  .herov-title {
    font-size: 48.83px;
    margin-bottom: 18px;
  }

  .herov-span {
    margin-bottom: 75px;
  }
}
