<section class="blog-post-main">
  <picture>
    <source
      srcset="
        ./img/blog-post-main/desk-1.jpg    1x,
        ./img/blog-post-main/desk-1@2x.jpg 2x
      "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        ./img/blog-post-main/tab-1.jpg    1x,
        ./img/blog-post-main/tab-1@2x.jpg 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./img/blog-post-main/mob-1.jpg    1x,
        ./img/blog-post-main/mob-1@2x.jpg 2x
      "
      media="(max-width: 767px)"
    />
    <img src="./img/blog-post-main/desk-1.png" alt="Snapchat" />
  </picture>
  <ul class="blog-post-icon-list">
    <li class="blog-post-icon-item">
      <svg class="blog-post-icon" width="24" height="24">
        <use href="./img/icons.svg#post-clock-icon"></use>
      </svg>
      <p class="blog-post-icon-text">January 25, 2024</p>
    </li>
    <li class="blog-post-icon-item">
      <svg class="blog-post-icon" width="24" height="24">
        <use href="./img/icons.svg#post-author-icon"></use>
      </svg>
      <p class="blog-post-icon-text">Charlie Herwitz</p>
    </li>
    <li class="blog-post-icon-item">
      <svg class="blog-post-icon" width="24" height="24">
        <use href="./img/icons.svg#post-comments-icon"></use>
      </svg>
      <p class="blog-post-icon-text">3 Comments</p>
    </li>
  </ul>
  <p class="blog-main-text">
    <span class="blog-post-item-text">T</span>he Memphis Design movement is one
    of unlikeliest success stories in the history of design. Like so many
    artistic reactions, it began as an outlet for its creators, a way to rail
    against and confound elite sensibilities. The result was a style that was
    revolutionary in its time and whose spirit is a continual source of
    inspiration to this day.
  </p>
  <p class="blog-main-text">
    As popular and influential as Memphis Design has been over the years, it can
    sometimes get a bad rap. It is a loud, colorful style that is hard to
    separate from its era. And when implemented without care, it can make some
    design projects feel antiquated. On the other hand, a good designer can turn
    these sins into virtues: obnoxious retro becoming lively nostalgia.
  </p>
  <p class="blog-main-text-last">
    Memphis Design is a 1980s design aesthetic characterized by scattered,
    brightly colored shapes and lines. It typically combines circles and
    triangles with black-and-white graphic patterns such as polka dots and
    squiggly lines.
  </p>
  <div class="wrap-decoration-icon">
    <picture>
      <source
        srcset="
          ./img/blog-post-main/desk-2.png    1x,
          ./img/blog-post-main/desk-2@2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/blog-post-main/tab-2.png    1x,
          ./img/blog-post-main/tab-2@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/blog-post-main/mob-2.png    1x,
          ./img/blog-post-main/mob-2@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./img/blog-post-main/desk-2.png" alt="Beautiful background" />
    </picture>
    <div class="circle circle-one">
      <div class="circle circle-two">
        <div class="circle circle-three">
          <svg class="icon-decoration" width="24" height="24">
            <use href="./img/icons.svg#play-button-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-post-wrap-text">
    <p class="blog-post-main-text">
      Imagine you’re at a party, and you’re bored. You’ve been bored for a
      while—years, it feels like. You wonder how a party, something that is
      supposed to be fun, can feel like it’s draining the life out of your very
      soul. As you look around the yawning faces of the guests, you realize it’s
      going to take drastic measures to salvage any excitement out of this long
      night. So you sneak a desperate gulp of your drink, slip on your tinted
      sunglasses and leap atop of the sofa. You’ve sacrificed yourself to
      karaoke.
    </p>
  </div>
  <div class="wrap-element">
    <div class="passage-text-wrap">
      <picture>
        <source
          srcset="
            ./img/blog-post-main/desk-3.jpg    1x,
            ./img/blog-post-main/desk-3@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/blog-post-main/tab-3.jpg    1x,
            ./img/blog-post-main/tab-3@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/blog-post-main/mob-3.jpg    1x,
            ./img/blog-post-main/mob-3@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/blog-post-main/desk-3.jpg" alt="Pencils" />
      </picture>
      <p>
        The birth of Memphis Design was a lot like this, starting with a
        gathering of architects and industrial designers in Milan, Italy in
        1981. But it wasn’t the party that bored the guests. It was the general
        state of design—how creativity had stagnated to become corporate and
        uniform.
      </p>
    </div>
    <div class="wrap-passage-text-last">
      <picture>
        <source
          srcset="
            ./img/blog-post-main/desk-4.jpg    1x,
            ./img/blog-post-main/desk-4@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/blog-post-main/tab-4.jpg    1x,
            ./img/blog-post-main/tab-4@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/blog-post-main/mob-4.jpg    1x,
            ./img/blog-post-main/mob-4@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/blog-post-main/desk-4.jpg" alt="Background" />
      </picture>
      <p>
        Long before all this, there had been a number of fine art and design
        movements that precipitated Memphis Design, and these were likely on the
        guests’ minds as they traced where it all had gone wrong. Kadinsky
        composition On White Kadinsky’s work also likely inspired the Memphis
        design movement.
      </p>
    </div>
  </div>
</section>
