<section class="contact-us">
  <div class="contact-us-container">
    <address class="contact-us-address">
      <ul class="contact-us-address-list">
        <li class="contact-us-address-item">
          <div class="contact-us-svg-container">
            <svg width="40" height="40">
              <use href="./img/icons.svg#email-icon"></use>
            </svg>
          </div>
          <a class="contact-us-address-link" href="mailto:info@youremail.com"
            >info@youremail.com</a
          >
        </li>
        <div class="contact-us-decorative-strip"></div>
        <li class="contact-us-address-item">
          <div class="contact-us-svg-container">
            <svg width="40" height="40">
              <use href="./img/icons.svg#phone-icon"></use>
            </svg>
          </div>
          <a class="contact-us-address-link" href="tel:+3803216559985"
            >+380 321 655 9985</a
          >
        </li>
      </ul>
    </address>
  </div>
</section>
