<section class="features" id="features">
  <div class="container">
    <h2 class="app-features-title">App features</h2>
    <p class="app-features-text mobile">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae.
    </p>
    <p class="app-features-text tablet">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam
      tincidunt rhoncus.
    </p>
    <p class="app-features-text desktop">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam
      tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc
      libero urna, feugiat.
    </p>
    <ul class="app-features-list">
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-chat-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">Full free chat</h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-features-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">unlimited features</h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-design-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">awesome ui design</h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="app-features-list-item image">
        <picture class="app-features-list-item-img">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-features/app-features-desktop.jpg    1x,
              ./img/app-features/app-features-desktop@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-features/app-features-mob.jpg    1x,
              ./img/app-features/app-features-mob@2x.jpg 2x
            "
          />
          <img
            class="app-features-list-item-img"
            src="./img/app-features/app-features-mob.jpg"
            alt="app interface screenshot"
            width="375"
          />
        </picture>
      </li>
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-version-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">ios & android version</h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-retina-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">retina ready graphics</h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
      <li class="app-features-list-item">
        <svg class="app-features-list-item-icon">
          <use
            href="./img/icons.svg#features-support-icon"
            width="50"
            height="50"
          ></use>
        </svg>
        <h3 class="app-features-list-item-title">
          24/7 support by real peOPle
        </h3>
        <p class="app-features-list-item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </li>
    </ul>
  </div>
</section>
