<section class="hero">
  <div class="hero-container">
    <div class="hero-blueborder"></div>
    <div class="hero-info">
      <h1 class="hero-info-title">A Great App Makes
        Your Life Better</h1>
      <p class="hero-info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit
        mollit. <span class="hero-info-text-desk"> Exercitation veniam consequat sunt nostrud
          amet.</span>
      </p>
      <h5 class="hero-info-dwnld">Download App Now</h5>
      <div class="hero-photo">
        <a href="https://play.google.com/" target="_blank" rel="noopener noreferrer">
          <picture class="hero-photo-googleplay">
            <source srcset="./img/hero/googleplay-desk-1x.jpg 1x, ./img/hero/googleplay-desk-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source srcset="./img/hero/googleplay-tab-1x.jpg 1x, ./img/hero/googleplay-tab-2x.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./img/hero/googleplay-mob-1x.jpg 1x, ./img/hero/googleplay-mob-2x.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./img/hero/googleplay-desk-1x.jpg" alt="google-play-app" />
          </picture>
        </a>
        <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener noreferrer">
          <picture class="hero-photo-applestore">
            <source srcset="./img/hero/applestore-desk-1x.jpg 1x, ./img/hero/applestore-desk-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source srcset="./img/hero/applestore-tab-1x.jpg 1x, ./img/hero/applestore-tab-2x.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./img/hero/applestore-mob-1x.jpg 1x, ./img/hero/applestore-mob-2x.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./img/hero/applestore-desk-1x.jpg" alt="apple-store-app" />
          </picture>
        </a>
      </div>
    </div>
    <div class="hero-phone-mob">
      <picture class="hero-photo-phone">
        <source srcset="./img/hero/herophone-desk-1x.png 1x, ./img/hero/herophone-desk-2x.png 2x"
          media="(min-width: 1280px)" />
        <source srcset="./img/hero/herophone-tab-1x.png 1x, ./img/hero/herophone-tab-2x.png 2x"
          media="(min-width: 768px)" />
        <source srcset="./img/hero/herophone-mob-1x.png 1x, ./img/hero/herophone-mob-2x.png 2x"
          media="(max-width: 767px)" />
        <img src="./img/hero/herophone-desk-1x.png" alt="phone-photo" />
      </picture>
    </div>
  </div>
</section>