<section class="recent-blog">
  <p>
    <a href="././blog-post.html"
      >Recent blog (Lena) <span>(Link to blog-post)</span></a
    >
  </p>
  <section class="recent-blog">
    <div class="container">
      <h2 class="recent-blog-title">Our recent blog</h2>
      <p class="recent-blog-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc
        ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet
        etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac
        nunc libero urna, feugiat.
      </p>
      <ul class="recent-blog-list">
        <li class="recent-blog-item">
          <div class="recent-blog-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/recent-blog/snap-pixel.jpg    1x,
                  /img/recent-blog/snap-pixel-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/recent-blog/snap-pixel-tab.jpg    1x,
                  /img/recent-blog/snap-pixel-tab-2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/recent-blog/snap-pixel-mob.jpg    1x,
                  /img/recent-blog/snap-pixel-mob-2x.jpg 2x
                "
              />
              <img
                src="./img/recent-blog/snap-pixel.jpg"
                alt="The Snap Pixel"
                width="370"
                height="228"
              />
            </picture>
          </div>
          <div class="recent-blog-container">
            <h3 class="recent-blog-subtitle">
              The Snap Pixel: How It Works and How to Install
            </h3>
            <p class="recent-blog-subtitle-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.
            </p>
            <a class="recent-blog-link" href="./index.html">Read more</a>
          </div>
        </li>
        <li class="recent-blog-item">
          <div class="recent-blog-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/recent-blog/instagram.jpg    1x,
                  ./img/recent-blog/instagram-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/recent-blog/instagram-tab.jpg    1x,
                  ./img/recent-blog/instagram-tab-2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/recent-blog/instagram-mob.jpg    1x,
                  ./img/recent-blog/instagram-mob-2x.jpg 2x
                "
              />
              <img
                src="./img/recent-blog/instagram.jpg"
                alt="Global Partner Solutions"
                width="370"
                height="228"
              />
            </picture>
          </div>
          <div class="recent-blog-container">
            <h3 class="recent-blog-subtitle">
              Global Partner Solutions: A Partnership of Innovation
            </h3>
            <p class="recent-blog-subtitle-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.
            </p>
            <a class="recent-blog-link" href="./index.html">Read more</a>
          </div>
        </li>
        <li class="recent-blog-item">
          <div class="recent-blog-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/recent-blog/snapchatters.jpg    1x,
                  ./img/recent-blog/snapchatters-2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/recent-blog/snapchatters-tab.jpg    1x,
                  ./img/recent-blog/snapchatters-tab-2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/recent-blog/snapchatters-mob.jpg    1x,
                  ./img/recent-blog/snapchatters-mob-2x.jpg 2x
                "
              />
              <img
                src="./img/recent-blog/snapchatters.jpg"
                alt="An opportunity for Snapchatters"
                width="370"
                height="228"
              />
            </picture>
          </div>
          <div class="recent-blog-container">
            <h3 class="recent-blog-subtitle">
              2024: An opport-unity for Snapchatters to start fresh
            </h3>
            <p class="recent-blog-subtitle-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              nunc ante velit vitae. Est tellus vitae, nullam lobortis enim.
            </p>
            <a class="recent-blog-link" href="./index.html">Read more</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
