<section class="screenshot" id="screenshot">
  <div class="backdrop under-dev is-visible"><p>Under development...</p></div>
  <div class="container">
    <h2 class="app-interface-title">Check out our app interface</h2>
    <p class="app-interface-text mobile">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae.
    </p>
    <p class="app-interface-text tablet">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam
      tincidunt rhoncus.
    </p>
    <p class="app-interface-text desktop">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante
      velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam
      tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc
      libero urna, feugiat.
    </p>
    <div class="app-interface-slider">
      <div class="app-interface-slides-container">
        <picture class="app-interface-slide">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-interface/app-interface-slider-img1-desktop.png    1x,
              ./img/app-interface/app-interface-slider-img1-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-interface/app-interface-slider-img1-mob.png    1x,
              ./img/app-interface/app-interface-slider-img1-mob@2x.png 2x
            "
          />
          <img
            src="./img/app-interface/app-interface-slider-img1-mob.png"
            width="246"
            alt="app interface slider image"
          />
        </picture>
        <picture class="app-interface-slide">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-interface/app-interface-slider-img2-desktop.png    1x,
              ./img/app-interface/app-interface-slider-img2-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-interface/app-interface-slider-img2-mob.png    1x,
              ./img/app-interface/app-interface-slider-img2-mob@2x.png 2x
            "
          />
          <img
            src="./img/app-interface/app-interface-slider-img2-mob.png"
            width="246"
            alt="app interface slider image"
          />
        </picture>
        <picture class="app-interface-slide">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-interface/app-interface-slider-img3-desktop.png    1x,
              ./img/app-interface/app-interface-slider-img3-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-interface/app-interface-slider-img3-mob.png    1x,
              ./img/app-interface/app-interface-slider-img3-mob@2x.png 2x
            "
          />
          <img
            src="./img/app-interface/app-interface-slider-img3-mob.png"
            width="246"
            alt="app interface slider image"
          />
        </picture>
        <picture class="app-interface-slide">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-interface/app-interface-slider-img4-desktop.png    1x,
              ./img/app-interface/app-interface-slider-img4-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-interface/app-interface-slider-img4-mob.png    1x,
              ./img/app-interface/app-interface-slider-img4-mob@2x.png 2x
            "
          />
          <img
            src="./img/app-interface/app-interface-slider-img4-mob.png"
            width="246"
            alt="app interface slider image"
          />
        </picture>
        <picture class="app-interface-slide">
          <source
            media="(min-width:1440px)"
            srcset="
              ./img/app-interface/app-interface-slider-img5-desktop.png    1x,
              ./img/app-interface/app-interface-slider-img5-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              ./img/app-interface/app-interface-slider-img5-mob.png    1x,
              ./img/app-interface/app-interface-slider-img5-mob@2x.png 2x
            "
          />
          <img
            src="./img/app-interface/app-interface-slider-img5-mob.png"
            width="246"
            alt="app interface slider image"
          />
        </picture>
      </div>
      <div class="app-interface-slider-dots">
        <span class="app-interface-slider-dot active"></span>
        <span class="app-interface-slider-dot"></span>
        <span class="app-interface-slider-dot"></span>
        <span class="app-interface-slider-dot"></span>
        <span class="app-interface-slider-dot"></span>
      </div>
    </div>
  </div>
</section>
