/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Work+Sans:wght@500;&display=swap');
@import url('./reset.css');
@import url('./main-page/header.css');
@import url('./main-page/header.css');
@import url('./main-page/hero.css');
@import url('./main-page/about.css');
@import url('./main-page/features.css');
@import url('./main-page/screenshot.css');
@import url('./main-page/download.css');
@import url('./main-page/how-to-use.css');
@import url('./main-page/team.css');
@import url('./main-page/reviews.css');
@import url('./main-page/recent-blog.css');
@import url('./main-page/contact-us.css');
@import url('./main-page/footer.css');
@import url('./blog/blog-main.css');
@import url('./blog/blog-hero.css');
@import url('./blog/blog-sidebar.css');
@import url('./blog/blog-post-hero.css');
@import url('./blog/blog-post-main.css');
@import url('./blog/blog-post-comments.css');

:root {
  font-family: Josefin Sans, Work Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
