.recent-blog {
  background-color: #ffffff;
}

.recent-blog .container {
  padding-bottom: 235px;
}

.recent-blog-title {
  color: #232233;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.recent-blog-text {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.recent-blog-item {
  max-width: 343px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 375px) {
  .recent-blog-item {
    margin-bottom: 40px;
  }
}

.recent-blog-img-container {
  max-width: 343px;
  max-height: 228px;
  border-radius: 10px 10px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-blog-img-container img {
  object-fit: contain;
}

.recent-blog-container {
  padding: 30px 4px 30px 6px;
}

.recent-blog-subtitle {
  color: #232233;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.recent-blog-subtitle-text {
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.recent-blog-link {
  color: #5851ea;
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/*========MEDIA_TABLET===========*/

@media screen and (min-width: 768px) {
  .recent-blog {
    /* padding: 120px 0 195px 0; */
  }

  .recent-blog-title {
    font-size: 31.25px;
    font-weight: 700;
  }

  .recent-blog-text {
    max-width: 450px;
  }

  .recent-blog-img-container {
    max-width: 213px;
  }

  .recent-blog-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .recent-blog-item {
    max-width: 213px;
  }

  .recent-blog-container {
    padding: 30px 15px;
  }

  .recent-blog-subtitle-text {
    margin-bottom: 40px;
  }
}

/*========MEDIA_DESKTOP===========*/

@media screen and (min-width: 1440px) {
  .recent-blog {
    /* padding: 120px 0 248px 0; */
  }
  .recent-blog-title {
    margin-bottom: 23px;
  }

  .recent-blog-text {
    max-width: 601px;
    margin-bottom: 60px;
  }

  .recent-blog-img-container {
    max-width: 370px;
  }

  .recent-blog-list {
    gap: 30px;
  }

  .recent-blog-item {
    max-width: 370px;
  }

  .recent-blog-container {
    padding: 40px 18px 36px;
  }

  .recent-blog-subtitle {
    margin-bottom: 10px;
  }

  .recent-blog-subtitle-text {
    margin-bottom: 28px;
  }
}
