/* ============================ backdrop ========================= */
.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  color: rgb(192, 192, 192);
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(46, 47, 66, 0.804);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.under-dev p {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/* ============================ backdrop ========================= */

.screenshot {
  /* background-color: rgb(79, 79, 79); */
  position: relative;
}
.app-interface-title {
  color: #232233;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.app-interface-text {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.app-interface-text.tablet,
.app-interface-text.desktop {
  display: none;
}

/* ===================== MEDIA ============================ */

@media screen and (min-width: 768px) {
  .app-interface-text.mobile {
    display: none;
  }
  .app-interface-text.tablet {
    display: block;
    max-width: 450px;
    margin: 0 auto 60px;
  }
}

@media screen and (min-width: 1440px) {
  .app-interface-text.tablet {
    display: none;
  }

  .app-interface-text.desktop {
    display: block;
    margin: 0 auto 60px;
    max-width: 600px;
  }
}

/* =================== slider ========================= */

.app-interface-slider {
  /* width: 100%; */
  outline: 2px solid rgb(80, 255, 71);
}

.app-interface-slider-gallery {
  outline: 3px solid rgb(249, 105, 15);
  /* display: flex; */
  /* align-items: center; */
  margin: 0 auto 40px;
  /* height: 622px; */
  /* position: relative; */
}

.app-interface-slide {
  width: 246px;
  margin: 0 auto;
}

.app-interface-slider-gallery img {
  outline: 2px solid rgb(255, 234, 3);
  margin: 0 auto;
  /* width: 100%; */
  /* height: 100%; */
}

.app-interface-slider-dots {
  outline: 1px solid tomato;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* .app-interface-slider-dot {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: #5956e9;
} */

/* .app-interface-slider-dot.active {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: #5956e9;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #5956e9;
} */
/* =================== slider ========================= */
.swiper {
  /* width: 246px; */
  /* height: 532px; */
  /* width: 246px; */
  /* height: 532px; */
}

.swiper-slide {
  /* width: fit-content; */
}
